@model FkjMgt_20181207.Models.Client.ClientListDatasetViewModels
@using FkjMgt_20181207.Models.Client;
@if (ViewBag.linkMan != null)
{
    <div class="col-md-6" style="margin-top:5px;margin-bottom:5px;">
        <span style="font-weight:bold">联系人 ：</span><span>@ViewBag.linkMan</span>
    </div>
    <div class="col-md-6" style="margin-top:5px;margin-bottom:5px;">
        <span style="font-weight:bold">联系电话 ：</span><span>@ViewBag.contactPhone</span>
    </div>
    <div class="col-md-12" style="margin-top:5px;margin-bottom:5px;">
        <span style="font-weight:bold">联系地址 ：</span><span>@ViewBag.contactAdress</span>
    </div>
}
@if (ViewBag.Callbacks != null)
{
    @if (ViewBag.Callbacks.Count > 0)
    {
        <table class="table table-hover table-striped table-bordered" style="word-break:break-all; ">
            <thead>
                <tr>
                    <th>日期</th>
                    <th>类型</th>
                    <th>内容</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in (IList<CallbackList>)ViewBag.Callbacks)
                {
                    <tr>
                        <td><span>@Html.DisplayFor(s => item.RecordDate)</span></td>
                        <td><span>@Html.DisplayFor(s => item.DataType)</span></td>
                        <td><span>@Html.DisplayFor(s => item.MemoInfo)</span></td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div style="height:50px"></div>
    }
}