@model FkjMgt_20181207.Models.Client.ClientListDatasetViewModels

@{
    ViewData["Title"] = "客户列表";
}
<div class="container-fluid">
    <div class="row">
        <form class="form-horizontal" role="form">
            <fieldset>
                <div class="form-group">
                    <label class="col-md-1">部门</label>
                    <div class="col-md-3">
                        <input class="form-control-sm" id="inputDepar" type="text" />
                    </div>
                    <label class="col-md-1">业务员</label>
                    <div class="col-md-3">
                        <input class="form-control-sm" id="inputEmployee" type="text" />
                    </div>
                    <label class="col-md-1">客户</label>
                    <div class="col-md-3">
                        <input class="form-control-sm" id="inputClient" type="text" />
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <label class="col-md-1">开始</label>
                    <div class="col-md-3">
                        <input class="form-control-sm" id="inputBegin" type="text" />
                    </div>
                    <label class="col-md-1">至</label>
                    <div class="col-md-3">
                        <input class="form-control-sm" id="inputEnd" type="text" />
                    </div>
                    <div class="col-md-4 text-center">
                        <button class="btn btn-primary btn-sm btn-block" type="submit">查询</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="row">
        <table class="table table-hover table-striped table-bordered" style="word-break:break-all; ">
            <thead>
                <tr>
                    <th>客户</th>
                    <th>首次销售</th>
                    <th>销售</th>
                    <th>毛利</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.clientListTotals)
                {

                    @foreach (var details in Model.clientListDetails.Where(w => w.EmployeeID_xf == item.EmployeeID_xf))
                    {
                        <tr>
                            <td>@Html.DisplayFor(s => details.ClientName)</td>
                            <td>@Html.DisplayFor(s => details.FistDate)</td>
                            <td>@Html.DisplayFor(s => details.SellSum)</td>
                            <td>@Html.DisplayFor(s => details.ProfitSum)</td>
                        </tr>
                    }
                    <tr class="info text-info">
                        <td>@Html.DisplayFor(s => item.EmpName)-->预计奖金:@Html.DisplayFor(s => item.ResultSum)</td>
                        <td>小计</td>
                        <td>@Html.DisplayFor(s => item.SellSum)</td>
                        <td>@Html.DisplayFor(s => item.ProfitSum)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
