@model FkjMgt_20181207.Models.Client.ClientListDatasetViewModels
@{
    ViewData["Title"] = "客户列表";
}
<div class="container-fluid">
    <div class="row" style="border-bottom:1px solid #f5f5f5">
        <form class="form-horizontal" role="form" asp-action="SellClientAuthoSeller" asp-controller="Client" asp-route-deparID="@Model.DeparID" asp-route-empID="@Model.EmpID" asp-route-currentMonth="@Model.CurrentMonth" asp-route-searchName="@Model.SearchName" method="post">
            <fieldset>
                <div class="form-group">
                    <div class="col-md-3" style="padding-top:10px">
                        <label>部门 ：</label>
                        <select class="form-control-sm" id="inputDepar" asp-items="Model.DeparLists" asp-for="DeparID" onchange="showClinetFromDepar()">
                            <option value="0">- 全 部 -</option>
                        </select>
                    </div>
                    <div class="col-md-3" id="divShowEmployee" style="padding-top:10px">
                        @await Html.PartialAsync("PartialEmployeeListView")
                    </div>
                    <div class="col-md-3" style="padding-top:10px">
                        <label>客户 ：</label>
                        <input asp-for="SearchName" class="form-control-sm" type="text" />
                    </div>
                    <div class="col-md-2" style="padding-top:10px">
                        <label style="padding-right:5px">月度 ：</label>
                        <select class="form-control-sm" id="inputYearMonth" asp-items="Model.YearMonths" asp-for="CurrentMonth">
                            <option value="">- 未选定 -</option>
                        </select>
                    </div>
                    <div class="col-md-1 text-center" style="padding-top:10px">
                        <button class="btn btn-primary btn-sm btn-block" type="submit" onclick="ShowAlert()">查询</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="row">
        <div class="hidden" role="alert" id="AlertLoading">
            <strong>运行中!</strong> 正在生成数据,请稍候...
        </div>
    </div>
    @*开始显示返回结果*@
    <div class="row" id="PartialResultClientList">
        @await Html.PartialAsync("PartialSellClientListView")
    </div>
    <!-- Modal 弹出该客户的详细信息 -->
    <div class="modal" id="modalShowInfo" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color:beige">
                    <h5 class="modal-title" id="modalLabel">-- 详细信息 --</h5>
                </div>
                <div class="modal-body" id="divShowDetail">
                    @await Html.PartialAsync("PartialClientShowDetail")
                </div>
                <div class="modal-footer" style="padding-top:5px;padding-bottom:5px;text-align:center;background-color:antiquewhite">
                    <button type="button" class="btn btn-default btn-xs" >编辑</button>
                    <button type="button" class="btn btn-success btn-xs">增加</button>
                    <button type="button" class="btn btn-danger btn-xs">删除</button>
                    <button type="button" class="btn btn-secondary btn-xs" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript" language="JavaScript">
        var showClinetFromDepar;
        var ShowAlert;
        var showClientInfo;
        $(document).ready(function () {
            showClinetFromDepar = function () {
                var dearID = document.getElementById('inputDepar').value;
                $.ajax({
                    type:"GET",
                    url: '@Url.Action("GetEmpFromDepar","Client")',
                    data: { deparID:dearID},
                    success: function (data) {
                        $("#divShowEmployee").html(data);
                    },
                    failure: function () {
                        alert('执行Js代码失败!')
                    }
                })
            }
            ShowAlert = function () {
                $('#AlertLoading').attr("class", "alert alert-warning");
                $('#PartialResultClientList').attr("class","hidden")
            }
            showClientInfo = function (clientID) {
                var clientId_xf = 0;
                $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetClientInfoById")',
                    data: { id: clientID },
                    success: function (data) {
                        //$("#divShowDetail").load('PartialClientShowDetail');
                        $("#divShowDetail").html(data);
                    },
                    failure: function () {
                        alert('执行Js代码失败!');
                    }
                })
            }
        }
        )
        @*$('#editerrmsg').attr("class", "alert alert-warning alert-dismissible");
        $(document).ready(function () {
            showClinet = function () {
                $("PartialResultClientList").load('@Url.Action("SellClientAuthoSeller")');
            }
        });
        $('#AlertLoading').alert('close')*@
        $(function () {
            $("[data-toggle='popover']").popover({
                html: true
            });
        });
        $(function () {
            $("[data-toggle='tooltip']").tooltip({
                html: true
            }); });
    </script>
    }